@charset "UTF-8";
/* common */
.evt_wrap{display:block !important}
.evt_section{position:relative;max-width:770px;margin:0 auto}
.evt_section img{width:100%;vertical-align:top}
.evt_section .btn{position:absolute;background:url(about:blank) 0 0 no-repeat;background-size:100% auto}

/* event stamp */
.evt_section .lst_stamp{overflow:hidden;position:absolute;top:43.35%;left:7.534%;width:86.754%;height:56.295%}
.evt_section .lst_stamp:before{display:block;float:left;width:57.14%;height:20%;content:''}
.evt_section .lst_stamp li{float:left;width:14.285714285714286%;height:20%;background:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/sp_stamp_off.png) no-repeat;background-size:700% auto}
.evt_section .lst_stamp .complete{background-image:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/sp_stamp_on.png)}
.evt_section .lst_stamp .item14:after,
.evt_section .lst_stamp .item18:after,
.evt_section .lst_stamp .item23:after,
.evt_section .lst_stamp .item25:after{position:absolute;background-size:auto 100%;background-repeat:no-repeat;content:''}
/* line01 */
.evt_section .lst_stamp .item1{background-position:66.6666% 0}
.evt_section .lst_stamp .item2{background-position:83.3333% 0}
.evt_section .lst_stamp .item3{background-position:100% 0}
.evt_section .lst_stamp .item4{background-position:0 25%}
.evt_section .lst_stamp .item5{background-position:16.6666% 25%}
.evt_section .lst_stamp .item6{background-position:33.3333% 25%}
.evt_section .lst_stamp .item7{background-position:50% 25%}
/* line02 */
.evt_section .lst_stamp .item8{background-position:66.6666% 25%}
.evt_section .lst_stamp .item9{background-position:83.3333% 25%}
.evt_section .lst_stamp .item10{background-position:100% 25%}
.evt_section .lst_stamp .item11{background-position:0 50%}
.evt_section .lst_stamp .item12{background-position:16.6666% 50%}
.evt_section .lst_stamp .item13{background-position:33.3333% 50%}
.evt_section .lst_stamp .item14{background-position:50% 50%}
.evt_section .lst_stamp .item14:after{top:53.376%;left:42.665%;width:57.336%;padding-top:4.642%;background-image:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/stamp_label.png)}
/* line03 */
.evt_section .lst_stamp .item15{background-position:66.6666% 50%}
.evt_section .lst_stamp .item16{background-position:83.3333% 50%}
.evt_section .lst_stamp .item17{background-position:100% 50%}
.evt_section .lst_stamp .item18{background-position:0 75%}
.evt_section .lst_stamp .item18:after{top:73.21%;left:0.15%;width:13.923%;padding-top:4.642%;background-image:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/stamp_label2.png)}
.evt_section .lst_stamp .item19{background-position:16.6666% 75%}
.evt_section .lst_stamp .item20{background-position:33.3333% 75%}
.evt_section .lst_stamp .item21{background-position:50% 75%}
/* line04 */
.evt_section .lst_stamp .item22{background-position:66.6666% 75%}
.evt_section .lst_stamp .item23{background-position:83.3333% 75%}
.evt_section .lst_stamp .item23:after{top:73.21%;left:71.557%;width:28.444%;padding-top:4.642%;background-image:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/stamp_label3.png)}
.evt_section .lst_stamp .item24{background-position:100% 75%}
.evt_section .lst_stamp .item25{background-position:0 100%}
.evt_section .lst_stamp .item25:after{top:93.25%;left:0.15%;width:42.515%;padding-top:4.642%;background-image:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/stamp_label4.png)}
.evt_section .lst_stamp .item26{background-position:16.6666% 100%}
.evt_section .lst_stamp .item27{background-position:33.3333% 100%}
.evt_section .lst_stamp .item28{background-position:50% 100%}
/* line05 */
.evt_section .lst_stamp .item29{background-position:66.6666% 100%}
.evt_section .lst_stamp .item30{background-position:83.3333% 100%}

/* notice common */
.evt_notice{max-width:770px;margin:0 auto;text-align:left}
.evt_notice .btn_noti{display:block;overflow:hidden}
.evt_notice .btn_noti img{display:block;width:200%;max-width:200%}
.evt_notice.on .btn_noti img{margin-left:-100%}
.evt_notice .noti_cont{display:none;overflow:hidden;padding:0 2.598%;background:#e2f8dc}
.evt_notice .lst_notice{padding:23px 2.466% 30px;border-top:1px solid #343b46;font-size:14px;color:#343b46;letter-spacing:-.04em;line-height:18px}
.evt_notice .lst_notice li{margin-top:10px}
.evt_notice .lst_notice li:first-child{margin-top:0}
.evt_notice .lst_notice .tit{display:block}
.evt_notice .lst_notice .point{font-weight:bold;color:#e72457}
.evt_notice .lst_notice .point:after{background:#e72457}
.evt_notice .lst li{position:relative;margin-top:2px;padding-left:9px}
.evt_notice .lst li:first-child{margin-top:0}
.evt_notice .lst li:after{position:absolute;top:7px;left:3px;width:2px;height:2px;background:#343b46;content:''}
.evt_notice .lst_notice .type2,
.evt_notice .lst_notice .type2 + li{margin-top:2px}
.evt_notice .lst_notice .type2:first-child{margin-top:0}
.evt_notice .lst_notice .type2 .tit{display:inline-block}
.evt_notice .lst_notice .type2 .item{display:inline-block}

.evt_section02{background:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/evt_section_0614_bg.gif) repeat-y;background-size:100% auto}
.evt_info{padding-bottom:7.274%;background:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/evt_section_0614_02.png) no-repeat 0 100%;background-size:100% auto}
.evt_info .lst_info{padding:6px 11.5% 5px 14.936%}

.evt_info .lst_info li{position:relative;padding-left:71px;font-size:12px;color:#fff;letter-spacing:-.025em;line-height:16px}
.evt_info .lst_info li:first-child{margin-top:0}
.evt_info .lst_info .tit{display:block;position:absolute;top:0;left:0;width:48px;letter-spacing:-.05em;text-align:justify;text-align-last:justify}
.evt_info .lst_info .tit:after{display:inline-block;width:100%;height:0;content:''}

.tpl .evt_info .lst_info{padding:12px 11.5% 9px 14.936%}
.tpl .evt_info .lst_info li{padding-left:141px;font-size:22px;line-height:32px}
.tpl .evt_info .lst_info li:first-child{margin-top:0}
.tpl .evt_info .lst_info .tit{width:96px}

/* 타이틀 영역 */
.evt_tit{position:relative}
.evt_tit .lamp{position:absolute;top:47.09%;width:6.494%;padding-top:4.676%;background-repeat:no-repeat;background-size:100% auto}
.evt_tit .lamp span{display:block;height:100%}
.evt_tit .lamp_left{left:7.662337662%;background-image:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/lamp_left.png)}
.evt_tit .lamp_right{right:7.272727273%;background-image:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/lamp_right.png)}
.evt_tit_type2 .lamp{top:53.274%}

/* 게임 영역 */
.soccer_game_wrap{position:relative;background-color:#219100}
.field_wrap{bottom:0;width:100%;padding-top:90.91%;background:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/bg_game.png) no-repeat;background-size:100% auto}
.field_wrap .human{position:absolute;top:4.43%;left:42%;width:15.976%;padding-top:34.546%;background:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/goalkeeper.png) no-repeat;background-size:100% 100%}
.field_wrap .arm_left,.field_wrap .arm_right{position:absolute;top:23.69%;width:107.32%;padding-top:26.02%;background-repeat:no-repeat;background-size:100% auto}
.field_wrap .arm_right{left:-23.58%;background-image:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/arm_right.png);animation:armRightAnimation 1.2s linear infinite}
.field_wrap .arm_left{right:-23.58%;background-image:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/arm_left.png);animation:armLeftAnimation 1.2s linear infinite}
/*.field_wrap .arm_right{left:-23.58%;background-image:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/arm_right.png)}
.field_wrap .arm_left{right:-23.58%;background-image:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/arm_left.png)}*/

@keyframes armRightAnimation {
	0% {transform:rotate(0deg)}
	50% {transform:rotate(-15deg)}
	100% {transform:rotate(0deg)}
}
@keyframes armLeftAnimation {
	0% {transform:rotate(0deg)}
	50% {transform:rotate(15deg)}
	100% {transform:rotate(0deg)}
}
.field_wrap .ball_area{position:absolute;left:50%;bottom:34.573%;width:14.286%;padding-top:14.286%;transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0)}
.field_wrap .ball_area .ball{position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;background:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/ball.png) no-repeat;background-size:100% auto}
.field_wrap .ball_area .shadow{position:absolute;left:-58.19%;bottom:-19.1%;width:214.55%;padding-top:47.28%;background:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/ball_shadow.png) no-repeat;background-size:100% auto}

.soccer_game_wrap .btn_wrap{position:absolute;left:0;bottom:0;width:100%;font-size:0;text-align:center}
.soccer_game_wrap .btn{display:inline-block;position:relative;z-index:1;width:27.403%;margin:0 1.3%;padding-top:19.091%;background-repeat:no-repeat;background-size:100% auto}
.soccer_game_wrap .btn_left{background-image:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/btn_left.png)}
.soccer_game_wrap .btn_center{background-image:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/btn_center.png)}
.soccer_game_wrap .btn_right{background-image:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/btn_right.png)}
.soccer_game_wrap .btn_complete{display:block;width:86.755%;margin:0 0 0 6.234%;background-image:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/btn_complete.png)}
.soccer_game_wrap .btn_apply_app{display:block;width:87.534%;margin:0 0 0 6.234%;background-image:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/btn_apply_app.png)}

.soccer_game_wrap .notice_text{position:absolute;left:50%;bottom:25.43%;width:45.195%;padding-top:4.416%;background:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/game_text.png) no-repeat;background-size:100% auto;text-align:center;transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0)}

.complete_area{display:none;position:absolute;top:-13.858%;left:0;width:100%;padding-top:90.39%}
.complete_area .result_img{position:absolute;top:0;left:0;width:100%;height:100%}
.complete_area .result_img img{width:100%}

/* 3개월 개근상 */
.regular_attendance_list{position:absolute;top:48.165%;left:11.56%;width:77.664%;height:34.083%}
.regular_attendance_list li{float:left;width:27.927%;height:100%}
.regular_attendance_list li:first-child{margin-right:8.194%}
.regular_attendance_list li:last-child{float:right}
.regular_attendance_list .label{display:block;height:100%}
.regular_attendance_list .label.on{background:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/attendance_label_on.png) no-repeat;background-size:100% auto}

/* layer popup */
.lay_wrap .ly_imgwrap{position:relative;display:inline-block;width:300px;vertical-align:middle;letter-spacing:-0.05rem;z-index:210}
.ly_imgwrap .btn{position:absolute;color:transparent;background:url(about:blank);cursor:pointer;}
.ly_imgwrap .btn_cfm{left:28px;bottom:17px;width:243px;height:64px}
.ly_imgwrap .btn_cfm.view{bottom:110px}
.lay_wrap .ly_msgct .ico_heart{display:inline-block;width:12px;height:13px;margin:.4rem 0 0 .2rem;vertical-align:top;background:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/ico_heart.png) 0 0 no-repeat;background-size:100% auto}
.lay_wrap a.u_btn .txt{margin-top:.9rem}
.ly_msgwrap .ly_msgct:first-child + .ly_btn_area + .ly_msgct{margin:0 3.5rem;padding:1.3rem 0 1.5rem;border-top:1px solid #e5e5e5}
.ly_msgwrap .ly_btn_area .u_td a>span{margin-top:1rem}
.ly_emsg .sub_text{display:block;position:relative;width:200px;height:25px;margin:0 auto;background:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/201806/0601_attendance/img/ly_text_bg.png) no-repeat 50% 0;background-size:100% 100%;font-size:16px}
.ly_emsg .img_wrap{margin-bottom:-1.6rem}
.ly_emsg .point2{color:#eb3671}
.ly_emsg .point3{color:#e50000}

.ly_emsg .tit{display:block}
.ly_emsg .tit .type2{display:block;margin-bottom:5px;font-size:2.5rem}



/* PC Overriding */
.tpl .evt_notice .lst_notice{padding:46px 0 59px 2.466%;font-size:26px;line-height:36px}
.tpl .evt_notice .lst_notice li{margin-top:20px}
.tpl .evt_notice .lst_notice li:first-child{margin-top:0}
.tpl .evt_notice .lst li{margin-top:4px;padding-left:18px}
.tpl .evt_notice .lst li:first-child{margin-top:0}
.tpl .evt_notice .lst li:after{top:14px;left:5px;width:3px;height:3px}
.tpl .evt_notice .lst_notice .type2:first-child{margin-top:0}
.tpl .evt_notice .lst_notice .type2,
.tpl .evt_notice .lst_notice .type2 + li{margin-top:4px}

.tpl .ly_imgwrap{width:480px}
.tpl .ly_imgwrap img{width:100%}
.tpl .ly_imgwrap .btn_cfm{left:45px;bottom:45px;width:390px;height:104px}